# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
venv/
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Site packages (IMPORTANT)
Lib/
Scripts/
Include/

ml_basics.txt
